* {
    margin: 0;
    padding: 0;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
body {
    background-color: #f3f5f7;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    height: 42px;
    margin: 30px auto;
}
.logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    height: 42px;
    width: 195px;
    float: left;
}
.nav {
    float: left;
    margin-left: 70px;
    height: 42px;
}
.nav ul li {
    float: left;
    margin: 0 15px;
}
.nav ul li a {
    height: 42px;
    padding: 0 10px;
    display: block;
    color: #050505;
    font-size: 18px;
    line-height: 42px;
}
.nav ul li a:hover {
    border-bottom: 2px solid #3597d4;
}
.search {
    float: left;
    height: 42px;
    width: 411px;
    margin-left: 70px;
}
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-image: url("images/fa-search.png");
}
.user {
    float: right;
    margin-right: 30px;
    line-height: 42px;
    color: #666;
    font-size: 14px;
}
.user img {
    vertical-align: middle;
}
.banner {
    height: 420px;
    background-color: #1c036c;
}
.banner .w {
    height: 420px;
    background-image: url("images/banner2.png");
    background-repeat: no-repeat;
    background-position: top center;
}
.subnav {
    float: left;
    height: 420px;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.3);
}
.subnav ul li {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}
.subnav ul li a {
    font-size: 14px;
    color: #ffffff;
}
.subnav ul li a span {
    float: right;
}
.subnav ul li a:hover {
    color: #00b4ff;
}
.course {
    height: 300px;
    width: 228px;
    float: right;
    margin-top: 50px;
    background-color: #ffffff;
}
.course h2 {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    background-color: #9bceea;
    color: #ffffff;
}
.bd {
    padding: 0 20px;
}
.bd ul li h4 {
    font-weight: 400;
    color: #4e4e4e;
    font-size: 16px;
}
.bd ul li p {
    color: #a5a5a5;
    font-size: 12px;
}
.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}
.bd .more {
    height: 40px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
    margin-top: 5px;
    display: block;
}
.goods {
    margin-top: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    height: 60px;
    line-height: 60px;
}
.goods h3 {
    float: left;
    color: #00a4ff;
    font-size: 16px;
    margin: 0 35px;
}
.goods ul {
    float: left;
}
.goods ul li {
    float: left;
}
.goods ul li a {
    font-size: 16px;
    color: #050505;
    border-left: 1.5px solid #bfbfbf;
    padding: 0px 36px;
}
.goods .modify {
    float: right;
    color: #00a4ff;
    font-size: 14px;
    margin-right: 28px;
}
.box {
    margin-top: 30px;
}
.box .box-hd {
    height: 42px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}
.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.box-bd ul {
    width: 1225px;
}
.box-bd ul li {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #ffffff;
    float: left;
}
.box-bd ul li img {
    width: 100%;
}
.box-bd ul li h4 {
    color: #050505;
    font-size: 14px;
    margin: 20px;
    font-weight: 400;
}
.box-bd .info {
    margin: 0px 20px;
    font-size: 12px;
    color: #999999;
}
.box-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 415px;
    background-color: #ffffff;
    margin-top: 25px;
}
.footer .w {
    padding-top: 35px;
}
.footer .w .copyright {
    float: left;
}
.footer .w .links {
    float: right;
}
.footer .w .copyright p {
    font-size: 12px;
    color: #666666;
    margin: 20px 0px 15px 0px;
}
.footer .w .copyright .app {
    height: 38px;
    width: 118px;
    display: block;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
}
.footer .w .links dl {
    float: left;
    margin-left: 100px;
}
.footer .w .links dt a{
    color: #333333;
    font-size: 16px;
}
.footer .w .links dd a{
    color: #333333;
    font-size: 12px;
}